*/__pycache__/
*.pyc
*.pkl
*.pth
*.zip
*.DS_Store
/split_data/bc_data_banana_random_train/0307_205225/
/split_data/bc_data_banana_random_train/0307_205250/
/split_data/bc_data_banana_random_train/0307_205359/
/split_data/bc_data_banana_random_train/0307_205422/
/split_data/bc_data_banana_random_train_25/0307_205422/
/split_data/bc_data_banana_random_train/0307_205445/
/split_data/bc_data_banana_random_train/0307_205507/
/split_data/bc_data_banana_random_train_25/0307_205507/
/split_data/bc_data_banana_random_train/0307_205531/
/split_data/bc_data_banana_random_train/0307_205552/
/split_data/bc_data_banana_random_train/0307_205617/
/split_data/bc_data_banana_random_train/0307_205641/
/split_data/bc_data_banana_random_train/0307_211120/
/split_data/bc_data_banana_random_train/0307_211140/
/split_data/bc_data_banana_random_train_25/0307_211140/
/split_data/bc_data_banana_random_train/0307_211201/
/split_data/bc_data_banana_random_train_25/0307_211201/
/split_data/bc_data_banana_random_train/0307_211222/
/split_data/bc_data_banana_random_train/0307_211242/
/split_data/bc_data_banana_random_train_25/0307_211242/
/split_data/bc_data_banana_random_train/0307_211306/
/split_data/bc_data_banana_random_train/0307_211331/
/split_data/bc_data_banana_random_train_25/0307_211331/
/split_data/bc_data_banana_random_train/0307_211358/
/split_data/bc_data_banana_random_train/0307_211419/
/split_data/bc_data_banana_random_train/0307_211444/
/split_data/bc_data_banana_random_train/0307_211505/
/split_data/bc_data_banana_random_train_25/0307_211505/
/split_data/bc_data_banana_random_train/0307_211524/
/split_data/bc_data_banana_random_train/0307_211546/
/split_data/bc_data_banana_random_train/0307_211605/
/split_data/bc_data_banana_random_train_25/0307_211605/
/split_data/bc_data_banana_random_train/0307_211625/
/split_data/bc_data_banana_random_train/0307_211711/
/split_data/bc_data_banana_random_train/0307_211731/
/split_data/bc_data_banana_random_train/0307_211752/
/split_data/bc_data_banana_random_train/0307_211812/
/split_data/bc_data_banana_random_train_25/0307_211812/
/split_data/bc_data_banana_random_train/0307_211831/
/split_data/bc_data_banana_random_train/0307_211849/
/split_data/bc_data_banana_random_train/0307_211906/
/split_data/bc_data_banana_random_train_25/0307_211906/
/split_data/bc_data_banana_random_train/0307_211928/
/split_data/bc_data_banana_random_train/0307_211947/
/split_data/bc_data_banana_random_train/0307_212006/
/split_data/bc_data_banana_random_train_25/0307_212006/
/split_data/bc_data_banana_random_train/0307_212025/
/split_data/bc_data_banana_random_train/0307_212044/
/split_data/bc_data_banana_random_train/0307_212101/
/split_data/bc_data_banana_random_train/0307_212119/
/split_data/bc_data_banana_random_train/0307_212137/
/split_data/bc_data_banana_random_train/0307_212155/
/split_data/bc_data_banana_random_train_25/0307_212155/
/split_data/bc_data_banana_random_train/0307_212215/
/split_data/bc_data_banana_random_train/0307_212235/
/split_data/bc_data_banana_random_train/0307_212254/
/split_data/bc_data_banana_random_train/0307_212314/
/split_data/bc_data_banana_random_train/0307_212330/
/split_data/bc_data_banana_random_train/0307_212348/
/split_data/bc_data_banana_random_train/0307_212405/
/split_data/bc_data_banana_random_train/0307_212424/
/split_data/bc_data_banana_random_train_25/0307_212424/
/split_data/bc_data_banana_random_train/0307_212447/
/split_data/bc_data_banana_random_train_25/0307_212447/
/split_data/bc_data_banana_random_train/0307_212506/
/split_data/bc_data_banana_random_train/0307_212525/
/split_data/bc_data_banana_random_train/0307_212543/
/split_data/bc_data_banana_random_train/0307_212601/
/split_data/bc_data_banana_random_train/0307_212622/
/split_data/bc_data_banana_random_train/0307_212640/
/split_data/bc_data_banana_random_train/0307_212657/
/split_data/bc_data_banana_random_train/0307_212717/
/split_data/bc_data_banana_random_train/0307_212735/
/split_data/bc_data_banana_random_train/0307_212752/
/split_data/bc_data_banana_random_train/0307_212808/
/split_data/bc_data_banana_random_train/0307_212824/
/split_data/bc_data_banana_random_train/0307_212841/
/split_data/bc_data_banana_random_train/0307_212859/
/split_data/bc_data_banana_random_train_25/0307_212859/
/split_data/bc_data_banana_random_train/0307_212914/
/split_data/bc_data_banana_random_train/0307_212932/
/split_data/bc_data_banana_random_train/0307_212958/
/split_data/bc_data_banana_random_train/0307_213019/
/split_data/bc_data_banana_random_train_25/0307_213019/
/split_data/bc_data_banana_random_train/0307_213038/
/split_data/bc_data_banana_random_train/0307_213055/
/split_data/bc_data_banana_random_train/0307_213126/
/split_data/bc_data_banana_random_train/0307_213142/
/split_data/bc_data_banana_random_train/0307_213202/
/split_data/bc_data_banana_random_train/0307_220930/
/split_data/bc_data_banana_random_train/0307_220953/
/split_data/bc_data_banana_random_train_25/0307_220953/
/split_data/bc_data_banana_random_train/0307_221012/
/split_data/bc_data_banana_random_train/0307_221033/
/split_data/bc_data_banana_random_train_25/0307_221033/
/split_data/bc_data_banana_random_train/0307_221050/
/split_data/bc_data_banana_random_train/0307_221107/
/split_data/bc_data_banana_random_train/0307_221124/
/split_data/bc_data_banana_random_train/0307_221302/
/split_data/bc_data_banana_random_train/0307_221319/
/split_data/bc_data_banana_random_train_25/0307_221319/
/split_data/bc_data_banana_random_train/0307_221336/
/split_data/bc_data_banana_random_train_25/0307_221336/
/split_data/bc_data_banana_random_train/0307_221355/
/split_data/bc_data_banana_random_train/0307_221418/
/split_data/bc_data_banana_random_train/0307_221438/
/split_data/bc_data_banana_random_train/0307_221454/
/split_data/bc_data_banana_random_train/0307_221513/
/split_data/bc_data_banana_random_train_25/0307_221513/
/split_data/bc_data_banana_random_train/0307_221531/
/split_data/bc_data_banana_random_train/0307_221548/
/split_data/bc_data_banana_random_train/0307_221607/
/split_data/bc_data_banana_random_train/0307_221626/
/split_data/bc_data_banana_random_train_25/0307_221626/
/split_data/bc_data_banana_random_train/0307_221802/
/split_data/bc_data_banana_random_train_25/0307_221802/
/split_data/bc_data_banana_random_train/0307_221820/
/split_data/bc_data_banana_random_train/0307_221840/
/split_data/bc_data_banana_random_train/0307_221857/
/split_data/bc_data_banana_random_train/0307_221915/
/split_data/bc_data_banana_random_train_25/0307_221915/
/split_data/bc_data_banana_random_train/0307_224818/
/split_data/bc_data_banana_random_train/0307_224838/
/split_data/bc_data_banana_random_train_25/0307_224838/
/split_data/bc_data_banana_random_train/0307_224855/
/split_data/bc_data_banana_random_train/0307_224946/
/split_data/bc_data_banana_random_test/0307_225017/
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_env.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_env_jit.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_inference.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_node.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_openloop.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False_test.sh
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/args_log.json
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/args_log.txt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/dp_args.json
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_10.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_20.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_30.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_40.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_50.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_60.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_70.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_80.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_90.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_100.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_110.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_120.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_130.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_140.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_150.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_160.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_170.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_180.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_190.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_200.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_210.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_220.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_230.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_240.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_250.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_260.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_270.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_280.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/ema_model_epoch_290.ckpt
/learning/runs/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/events.out.tfevents.1722942765.zhuoli.49283.0
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_10.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_20.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_30.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_40.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_50.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_60.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_70.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_80.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_90.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_100.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_110.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_120.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_130.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_140.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_150.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_160.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_170.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_180.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_190.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_200.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_210.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_220.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_230.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_240.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_250.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_260.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_270.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_280.ckpt
/model/0806_191241_ixSX-camera=012-identity=False-repr=IDEHT-oh=1-ah=8-ph=16-prefix=None-do=0.0-imgos=32-wd=1e-05-use_ddim=False-binarize_touch=False/model_epoch_290.ckpt
